<div class="message bg-gray-50 p-4 rounded-lg shadow">
  <p><strong><%= @reply[:sender] %>:</strong> <%= @reply[:body] %></p>
  <p class="text-xs text-gray-400"><%= @reply[:created_at].strftime("%Y-%m-%d %H:%M") %></p>
</div>